Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]

AuthName "Connexion"
AuthType Basic
AuthUserFile "/home/hebergs/servers/Hebergs-Logs-Website/.htpasswd"
Require valid-user
