@import url("https://api.fontshare.com/v2/css?f[]=chillax@1&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Chillax", sans-serif;
    font-weight: 500;
    color: white;
}

button {
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    border-width: 0;
    cursor: pointer;
}

textarea {
    border-width: 0;
    outline: none;
    color: inherit;
}

.website {
    height: 100vh;
    display: grid;
    grid-template-rows: max-content auto;
    background-color: #152A38;

    .menu {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 20px;
        max-height: 20vh;
        overflow-y: auto;

        button {
            padding: 10px;
            background-color: #29435C;
            font-size: 15px;
            border-radius: 10px;

            &.active {
                background-color: #1F374A;
            }
        }
    }

    textarea {
        padding: 5px;
        resize: none;
        background-color: black;
        font-size: 13px;
    }
}